/* Estilos específicos para el dashboard */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
/*estilos para los iconos de la barra*/
.icn{
    position: relative;
    margin-right: 30px;
    margin-top: 10px;
}
/* Estilos para el menú lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #874e4c;
    color: #000;
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 80%;
    padding: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu > li {
    margin-bottom: 10px;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #555;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.menu li:hover .submenu {
    display: block;
}

/* Estilos para la barra superior */
.topbar {
    position: fixed;
    top: 0;
    left: 290px; /* Ancho de la barra lateral */
    right: 0;
    height: 60px;
    background-color: #eabcac;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navigation h2 a{
    text-decoration: none;
    margin: 0;
}

.topbar .search-bar {
    display: flex;
    align-items: center;
}

.topbar .search-bar input {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
}

.topbar .search-bar button {
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}

.profile {
    margin-top: 3px;
    font-size: 20px;
    text-align: center;
    color: #000;
}

.profile p {
    margin: 0;
    padding: 5px;
    
}
.content {
    margin-left: 600px; /* Ancho de la barra lateral */
    padding: 50px;
}

.content1 {
    margin-left: 300px; /* Ancho de la barra lateral */
    padding: 50px;
}

/* Estilos para el gráfico */
#myChart {
    margin-left: -280px; /* Mover el gráfico hacia la izquierda */
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    margin-left: 10px;
    cursor: pointer;
}

#categoryForm {
    margin-bottom: 20px;
}

#categoriesTable {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para el switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Estilos adicionales para el switch */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Para aplicar un borde negro a la tabla */
#Table {
    width: 1000px;
    border: 2px solid black;
    border-collapse: collapse; /* Para que los bordes de las celdas colapsen */
  }
  
  /* Para aplicar un borde a las celdas */
#Table td, #Table th {
    border: 1px solid black;
    padding: 8px; /* Añade espacio entre el contenido y el borde */
}

.tab{
    margin-left: 50px;
}


#categoriesTable th {
    background-color: #f2f2f2;
}

/* Estilos para los botones */
button {
    padding: 10px 16px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos específicos para cada botón */
button.agregar {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: green;
    color: white;
}

button.editar {
    margin-right: auto;
    background-color: blue;
    color: white;
}

button.eliminar {
    margin-right: auto;
    background-color: red;
    color: white;
}

/* Estilos para el botón de generar reporte */
.report-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


  

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
