* {
  font-family: "Cormorant Garamond Bold";
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/* -------------------------------------cabecera -------------------------------*/
.barraSup {
  background-color: #000000;
  display: flex;
  align-items: center;
  height: 27px;
  width: 100%;
}
.centered {
  text-align: center;
  flex: 1;
}
.bienvenido {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  margin-left: 100px;
  text-align: center;
}
.icons {
  align-items: center;
  margin-top: 12px;
  margin-inline-end: 15px;
  padding: 15px;
  font-size: 1px;
}
.icons a {
  margin-right: 10px;
}

/*--------------------------- menu de buzqueda ----------------------------*/
.fr {
  font-size: 30px;
  display: block;
  font-family: "Birthstone";
  white-space: nowrap;
  border-right: 2px solid;
  width: 12ch;
  animation: typing 2s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.menu {
  display: flex;
  margin-top: 10px;
  width: 1000px;
  margin: 10px auto;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  background: #e2b091;
  padding: 5px 20px;
}

.busqueda {
  margin-right: 80px;
  max-width: 900px;
  height: 25px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.635);
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.campo-busqueda {
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  outline: none;
}

.campo-busqueda::placeholder {
  opacity: 1;
  color: #000000cc;
}

.campo-busqueda:focus {
  background-color: #ffffff00;
}

.campo-busqueda:active,
.campo-busqueda:hover {
  background-color: #f8f8f800;
}

.campo-busqueda:focus + .icono-lupa {
  background-color: #ffffff00;
  color: #000000;
}

.icono-lupa {
  padding: 8px;
  border-radius: 30px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0);
}

.icono-lupa box-icon {
  margin: auto;
  color: #000000;
}

.iconos {
  display: flex;
  align-items: center;
  margin-left: 370px;
  margin-top: -32px;
}

.icono {
  padding: 5px;
}
/*--------------categorias----------------------*/
.lista-Menu {
  background-color: #eabcac;
  margin: -18px auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.burguer-menu {
  display: none;
  cursor: pointer;
}
.categorias {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.categorias li {
  margin: 0;
  padding: 0 40px;
  border-right: 1px solid #000000;
}

.categorias li:last-child {
  border-right: none;
}

.categorias a {
  display: block;
  text-decoration: none;
  color: #333;
}

.categorias a:hover {
  font-family: "Cormorant Garamond Bold";
  color: #000000;
}

/*----------------------------slider------------------------------------------*/
.swiper {
  background: #e2ff0900;
  height: 400px;
  width: 1040px;
  top: 30px;
  padding: 70px;
}
  .swiper-slide {
    text-align: center;
    justify-content: end;
    font-size: 60px;
    z-index: 10;
    color: #fff;
  }
  .swiper-slide-img {
    height: 100%;
    width: 100%;
  }
  .swiper-button-prev {
    color: #e9e8e8ec;
  }
  .swiper-button-next  {
    color: #dfdfdfcb;
  }
/*-----------------------------cajas de ventas-------------------------------*/
.cjventas{
  text-align: center;
  margin-top: 50px;
}
.cjventa {
  margin-top: 0px;
  justify-content: center;
  display: flex;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.cj {
  width: 300px;
  height: 400px;
  padding: 10px;
  text-align: center;
  margin: 15px;
  border: 1px solid #00000033;
  border-radius: 5px;
  background-color: #EDEBEB;
  
}
.cj a{
  display: block;
  margin-left: 240px;
}
.cj img{
  max-width: 250px;
  max-height: 260px;
  border-radius: 5px;
}
#prev{
  position: absolute;
  background: none;
  border: none;
  padding: 10px 15px;
  margin-top: 520px;
  left: 8%;
}
#next {
  position: absolute;
  background: none;
  border: none;
  padding: 10px 15px;
  margin-top: 520px;
  left: 90%;
}
.btnven {
  margin-top: -20px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.iconb{
  height: 20px;
  width: 20px;
}
.ch{
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: auto;
}
#ch{
  color: #fff;
  background: none;
  border: none;
}
.ch:hover{
  background-color: #919191;
  color: #000;
}
.ac{
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: auto;
}
#ac{
  color: #fff;
  background: none;
  border: none;
}
.ac:hover{
  background-color: #919191;
  color: #000;
}


/*
.cjventasII{
  text-align: center;
  margin-top: 50px;
}
.cjventaII {
  margin-top: 0px;
  justify-content: center;
  display: flex;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.cjII {
  width: 300px;
  height: 400px;
  padding: 10px;
  text-align: center;
  margin: 15px;
  border: 1px solid #00000033;
  border-radius: 5px;
  background-color: #EDEBEB;
  
}
.cjII a{
  display: block;
  margin-left: 240px;
}
.cjII img{
  max-width: 250px;
  max-height: 260px;
  border-radius: 5px;
}
#prevII{
  position: absolute;
  background: none;
  border: none;
  padding: 10px 15px;
  margin-top: 1100px;
  left: 8%;
}
#nextII {
  position: absolute;
  background: none;
  border: none;
  padding: 10px 15px;
  margin-top: 1100px;
  left: 90%;
}
.btnvenII {
  margin-top: -20px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.chII{
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: auto;
}
#chII{
  color: #fff;
  background: none;
  border: none;
}
.chII:hover{
  background-color: #919191;
  color: #000;
}
.acII{
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: auto;
}
#acII{
  color: #fff;
  background: none;
  border: none;
}
.acII:hover{
  background-color: #919191;
  color: #000;
}*/
/*--------------------------------footer---------------------*/
.footer{
  height: 300px;
  width: 1000px;
  display: flex;
  margin-top: 200px;
  background: #E2B091;
}
.infog{
  background-color: #919191;
  height: 300px;
  width: 400px;
}
/*--------------------------diseño responsive---------------------------------*/
/*--------cabecera-------------*/
@media screen and (max-width: 1040px) {
  .barraSup {
    background-color: #000000;
    flex-direction: row;
    display: grid;
    height: 100px;
    width: 1040px;
  }
  .bienvenido {
    margin-left: 30px;
    font-size: 30px;
    margin-top: 5px;
  }

  .icons {
    display: inline;
    margin-top: 2px;
    flex-direction: row;
    text-align: center;
    margin-inline-end: 0px;
  }
  .icons img {
    width: 40px;
    margin-top: 10px;
    padding: 0 20px;
  }
  .icons a {
    margin: 0 10px;
  }
  /*----------busqueda-------------*/
  .menu {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1040px;
    height: 150px;
  }
  .fr {
    display: grid;
    text-align: center;
    margin: auto;
    font-size: 50px;
  }
  .busqueda {
    width: 450px;
    margin: auto 20px;
    height: 50px;
  }
  .iconos {
    margin-left: 500px;
  }
  .campo-busqueda {
    margin-top: 5px;
  }
  .campo-busqueda::placeholder {
    font-size: 30px;
  }
  .iconos img {
    height: 65px;
    margin-right: 0px;
    margin-top: -30px;
  }
  /*--------categorias------------*/
  .lista-Menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 318px;
    margin-left: 700px;
    background-color: #eabcac;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
  }
  .lista-Menu.active {
    display: flex;
  }
  .burguer-menu {
    display: block;
    margin-top: -115px;
    margin-left: 880px;
  }
  .categorias {
    display: block;
  }
  .categorias li {
    border-right: none;
  }
  .categorias li {
    font-size: 40px;
    border-top: 1px solid #000;
  }
  .categorias li:first-child {
    border-top: none;
  }
}
/*-----------------------cajas de ventas RESPONSIVE------------------------------*/
/* Estilos para pantallas con un ancho menor a 1040px */
@media (max-width: 1040px) {
  .cjventa {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a vertical */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .cj {
    width: 90%; /* Reduce el ancho de las cajas */
    max-width: 300px; /* Establece un ancho máximo para las cajas */
  }

  .cj img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
    height: auto;
  }



  .cj a {
    margin-left: 0; /* Centra los íconos de corazón en pantallas pequeñas */
  }
}
